{% extends 'layout.html' %}

{% block content %}
    <h1>Welcome, {{ user.username }}!</h1>
    
    <h2>Your Links</h2>
    
    <div class="link-card-container">
        {% for link in link_data %}
        <div class="link-card">
            <img src="data:image/png;base64,{{ link.qr_img_base64 }}" alt="QR Code">
            <a href="{{ url_for('download_qr_code', url_id=link.url.id) }}" class="download-button">Download QR Code</a>
            <p>Created at: {{ link.url.created_at.strftime('%Y-%m-%d') }}</p>
            <p>Clicks: {{ link.click_count }}</p>
            
                <p>Long URL: <br>
                    <a href="{{ link.url.long_url }}">{{ link.url.long_url }}</a>
                </p>
            
            <p>Short URL: <a href="{{ link.url.short_url }}">{{ link.url.short_url }}</a></p>
            <form action="{{ url_for('delete_url', url_id=link.url.id) }}" method="post">
                <button type="submit" class="delete-button">Delete</button>
            </form>
            <a href="{{ url_for('edit_url', url_id=link.url.id) }}"><button type="submit" class="edit-button">Edit</button></a>
        </div>
    {% endfor %}
</div>

    <a href="{{ url_for('index') }}">Go back to homepage</a>
{% endblock %}
