{% extends 'layout.html' %}

{% block content %}
    <h1>Welcome, {{ user.username }}!</h1>
    
    <h2>Your Shortened Links</h2>

    <div class="link-card-container">
        {% for link in link_data[:3] %}
            <div class="link-card">
                <img src="data:image/png;base64,{{ link.qr_img_base64 }}" alt="QR Code">
                <a href="{{ url_for('download_qr_code', url_id=link.url.id) }}" class="download-button">Download QR Code</a>
                <p>Created at: {{ link.url.created_at.strftime('%Y-%m-%d') }}</p>
                <p>Clicks: {{ link.click_count }}</p>
                <p>Long URL: <a href="{{ link.url.long_url }}">{{ link.url.long_url }}</a></p>
                <p>Short URL: <a href="{{ link.url.short_url }}">{{ link.url.short_url }}</a></p>
                <p>
                    <button type="button" id="copy-button" onclick="copyToClipboard('{{ link.url.short_url }}')">Copy Shortened URL</button>
                </p>
                <div class="button-container">
                    <a href="{{ url_for('edit_url', url_id=link.url.id) }}"><button type="submit" class="edit-button">Edit</button></a>
                    <form action="{{ url_for('delete_url', url_id=link.url.id) }}" method="post">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="{{ url_for('dashboard_all') }}" class="view-all-button">View All Links</a>

    <script>
        function copyToClipboard(text) {
            const textarea = document.createElement('textarea');
            textarea.value = text;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);
            alert('URL copied to clipboard!');
        }
    </script>
{% endblock %}
