{% extends 'layout.html' %}

{% block title %}
    Link Shortener
{% endblock title %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h2>Welcome, {{ current_user.username }}! <span class="wave">👋🏾</span></h2>
        
        <p>With our Link Shortener, you can easily create shortened URLs for your long links. Simply enter the URL you want to shorten and customize the short URL if desired. Click the "Shorten URL" button to generate the shortened link.</p>

        <br>
        <form method="POST" action="/shorten">
            <input type="url" name="url" placeholder="Enter URL" required>
            <input type="text" name="custom_short_url" placeholder="Customize Short URL">
            <button type="submit">Shorten URL</button>
        </form>
        <br>
        <br>
        <div class="link-card-container">
            {% for url in urls %}
                <div class="link-card">
                    <p>Short URL: <a href="{{ url.short_url }}">{{ url.short_url }}</a></p>
                    <a href="{{ url_for('download_qr_code', url_id=url.id) }}" class="download-button">Download QR Code</a>
                    <p> 
                        <button type="button" id="copy-button" onclick="copyToClipboard('{{ url.short_url }}')">Copy Shortened URL</button>
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <script>
        function copyToClipboard(text) {
            const textarea = document.createElement('textarea');
            textarea.value = text;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);
            alert('URL copied to clipboard!');
        }
    </script>
{% endblock content %}
