{% extends 'layout.html' %}

{% block content %}
    <h1>Register</h1>
    <form action="{{ url_for('register') }}" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>
{% endblock %}
