{% extends 'layout.html' %}

{% block content %}
<div class="link-card-container">
  <div class="link-card">
    <h2>Shortened URL</h2>
    <img src="data:image/png;base64,{{ qr_img_base64 }}" alt="QR Code">
    <br>
    <a href="{{ url_for('generate_qr_code_link', short_code=url.short_code) }}" class="download-button">Download QR Code</a>
        <p>
          Long URL: <br>
        <a href="{{ url.long_url }}">{{ url.long_url }}</a>
        </p>
        <p>
          Short URL: <br>
        <a href="{{ url.short_url }}">{{ url.short_url }}</a>
        <p> 
        <button type="button" id="copy-button" onclick="copyToClipboard('{{ url.short_url }}')">Copy Shortened URL</button>
       </p>
       <a href="{{ url_for('edit_url', url_id=url.id) }}"><button type="submit" class="edit-button">Edit</button></a>
      <div class="button-container">
      </form>
      <button type="submit" class="delete-button">Delete</button>
      <form action="{{ url_for('delete_url', url_id=url.id) }}" method="post"></form>
      </div>
      </form>
  </div>
</div>

<a href="{{ url_for('dashboard_all') }}" class="view-all-button">View All Links</a>

<script>
  function copyToClipboard(text) {
    const textarea = document.createElement('textarea');
    textarea.value = text;
    document.body.appendChild(textarea);
    textarea.select();
    document.execCommand('copy');
    document.body.removeChild(textarea);
    alert('URL copied to clipboard!');
  }
</script>

{% endblock %}
